.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 24px;
  /* background-color: #f9f9f9; */
}

/* Tablet view */
@media (max-width: 768px) {
  .blog-list {
    gap: 20px;
    padding: 30px 16px;
  }
}

/* Mobile view */
@media (max-width: 420px) {
  .blog-list {
    flex-direction: column;
    align-items: center;
    padding: 20px 12px;
  }
}
