.mainContainer{
  background: #f5f5f5;
}

.slider-container {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomOutIn 2s ease-in-out;
  transform-origin: center;
}

@keyframes zoomOutIn {
  0% {
    transform: scale(1.1); /* Start zoomed in */
  }
  50% {
    transform: scale(1);   /* Zoom out to normal */
  }
}

.slider-overlay {
  position: absolute;
  bottom: 9%;
  /* left: 50%; */
  right: 0%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  padding: 0 1rem;
}

.slider-title {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  font-family: 'Futura', sans-serif;
}

.shop-now-btn {
  padding: 0.7rem 1.5rem;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.3s ease;
  text-decoration: none;
  font-family: 'Futura', sans-serif;
}

.shop-now-btn:hover {
  background-color: #000000;
  color: white;
}

.slider-dots {
  position: absolute;
  bottom: 5%;
  right: 9%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active,
.dot:hover {
  background: white;
}

@media (max-width: 1024px) {
  .slider-container {
    height: 70vh;
  }

  .shop-now-btn {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }

  .slider-overlay {
    bottom: 10%;
    right: 14%;
    transform: translateX(50%);
    text-align: center;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .slider-container {
    height: 60vh;
  }

  .slider-overlay {
    bottom: 6%;
    right: 20%;
    transform: translateX(50%);
    text-align: center;
  }

  .shop-now-btn {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
  }

  .slider-dots {
    bottom: 3%;
  }
}

.titleProductSection {
    font-family: 'Futura', sans-serif;
  letter-spacing: 4px;
  line-height: 39px;
  font-weight: 100;
  font-size: 28px;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding-top: 45px;
}

.shop-view-all {
  padding: 0.7rem 1.5rem;
  background-color:  black;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.3s ease;
  text-decoration: none;
  font-family: 'Futura', sans-serif;
}

.shop-view-all:hover {
  background-color: white;
  color:  #000000;
}

.commoneButton {
  justify-content: center;
  align-items: center;
  display: flex;
}

.slider-separator {
  border: none;
  border-top: 1px solid #e0e0e0; 
  width: 100%;
  margin: 40px 0;
}






body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: white;
  padding: 30px 25px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 30px rgba(0,0,0,0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.modal h2 {
  margin: 0 0 10px;
  font-size: 19px;

  border: none;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background 0.3s ease;
  text-decoration: none;
  font-family: 'Futura', sans-serif;
}

.modal p {
  font-size: 12px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 300;

  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background 0.3s ease;
  text-decoration: none;
  font-family: 'Futura', sans-serif;
}

.phone-input {
  width: 60%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #b6b6b6;
  border-radius: 6px;
  margin-bottom: 20px;
}

.join-button {
  position: relative;
  width: 70%;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease;
}

.join-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  z-index: -1;
  transition: width 0.4s ease;
}

.join-button:hover::before {
  width: 100%;
}

.join-button:hover {
  color: black;
}

